In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('../dataset/w2vAnimeRating.csv')

Columns in dataset

In [4]:
print("Columns in the original dataset:\n")
print(df.columns)

Columns in the original dataset:

Index(['user_id', 'anime_id', 'rating'], dtype='object')

Example of an Row in dataset

In [8]:
df.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

Clean all value that is -1 in rating where the user have not watched

In [7]:
filtered_df = df[df['rating'] != -1]
filtered_df.head()

     user_id  anime_id  rating
47         1      8074      10
81         1     11617      10
83         1     11757      10
101        1     15451      10
153        2     11771      10

In [ ]:
def insert_sentiment(df, threshold):
    df['sentiment'] = np.where(df['rating'] >= threshold, 1, -1)
    return df